@font-face {
	font-family: InterB;
	src: url('/week6/homework/fonts/Inter-Bold.ttf');
}

@font-face {
	font-family: InterM;
	src: url('/week6/homework/fonts/Inter-Medium.ttf');
}

@font-face {
	font-family: InterR;
	src: url('/week6/homework/fonts/Inter-Regular.ttf');
}

@font-face {
	font-family: InterL;
	src: url('/week6/homework/fonts/Inter-Light.ttf');
}